{% extends 'layouts/main.html' %} {% block title %}Gym{% endblock %} {% block
    content %}
    
    <div class="page-header" style="text-align:center;">
    <h1>{{ header }}</h1>
    </div>
    <div class="md-form mt-0">
      <input class="form-control" type="text" id = "mySearchInput" onkeyup="searchFunc()" placeholder="Search Class Name" aria-label="Search">
    </div>
    <br>
    <div>
      <table class="table table-bordered table-striped table-hover" id = "dispTable">
        <tr>
          <th>Class ID </th> 
          <th>Day</th>
          <th>Date </th> 
          <th>Class Name</th>
          <th>Time</th>
          <th>Location</th>
          <th>EnrollmentCap</th>
          <th>Booking</th>
        </tr>
        {% for row in data%}
        <tr>
          <td class="classID">{{row['ClassID']}}</td>
          <td>{{row['ClassDay']}}</td>
          <td class="classDate">{{row['ClassDate']}}</td>
          <td>{{row['ClassType']}}</td>
          <td>{{row['ClassTime']}}</td>
          <td>{{row['ClassLocation']}}</td>
          <td>{{row['EnrollmentCap']}}</td>
          {% if loggedIn==True %}
          <td><a><button class='btn btn-primary book-class'>Reserve Now!</button></a></td>
          {% endif %}
          {% if loggedIn==False %}
          <td><button type="button" class='btn btn-primary' disabled>Please login to book!</button></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
       <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <h4 class="modal-title">Schedule</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="usr">Class Name:</label>
                <input type="text" class="form-control" id="usr" />
              </div>
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />Date 1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" />Date 2</label>
              </div>
              <div class="checkbox disabled">
                <label
                  ><input type="checkbox" value="" id="date3" checked disabled />Date 3</label
                >
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
       $(document).ready(function() {
            $(function() {
              $(".book-class").bind('click', function() {
                var resID = 
                $(this).parents("tr").find(".classID").text(); 
                var resDate = 
                $(this).parents("tr").find(".classDate").text(); 
                var parameters=resID+"/"+resDate
                var route = "/book_classes/"+ parameters
                    $.post(route, function(data) {
                    alert("Enrollment Successful");
                    location.reload()
                  });
              });
            });
          });
    </script>

<script> 
  function searchFunc() {
    // Declare variables
    var input, filter, table, tr, a, i, txtValue;
    input = document.getElementById('mySearchInput');
    filter = input.value.toUpperCase();
    table = document.getElementById("dispTable");
    tr = table.getElementsByTagName('tr');
    //console.log(tr);
  
    // Loop through all list items, and hide those who don't match the search query
    for (i = 1; i < tr.length; i++) {
      a = tr[i].cells[3];
      //console.log(a);
      txtValue = a.textContent || a.innerText;
      //console.log(txtValue);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  </script>

    {% endblock %}

