{% extends 'layouts/main.html' %} {% block title %}Gym{% endblock %} {% block
content %}

<div class="page-header" style="text-align:center;">
  <h1>{{ data[0] }}</h1>
</div>
<div class="md-form mt-0">
  <input class="form-control" type="text" id = "mySearchInput" onkeyup="searchFunc()" placeholder="Search Resource Name" aria-label="Search">
</div>
<br>
<div>
  <table id = "dispTable" class="table table-bordered table-striped table-hover">
    <tr>
      <th>ResourceID</th>
      <th>ResourceName</th>
      <th>ResourceType</th>
      <th>Location</th>
      <th>Booking</th>
    </tr>
    {% for row in data[1]%}
    <tr>
      <td class = "resID">{{row['ResourceID']}}</td>
      <td class = "resName">{{row['ResourceName']}}</td>
      <td class = "resType">{{row['ResourceType']}}</td>
      <td>{{row['Location']}}</td>
      {% if loggedIn==True %}
      <td><a href=#></a><button type="button" class='btn btn-primary book-resource' data-toggle="modal" data-target="#myModal">Reserve Now!</button></td>
      {% endif %}
      {% if loggedIn==False %}
      <td><button type="button" class='btn btn-primary book-resource' disabled>Please login to book!</button></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type = text/javascript>
    $(document).ready(function() {
      $(".book-resource").on("click", function(){ 
        var resID = 
        $(this).parents("tr").find(".resID").text(); 
        var resName = 
        $(this).parents("tr").find(".resName").text(); 
        var resType = 
        $(this).parents("tr").find(".resType").text();
        var route = "/book_available_times/"+ resID;
        var form = "<form action=" + route + " method = 'POST' id = 'reserveForm'><p><b>Please select a time slot to reserve:</b></p><br>";
        $.getJSON(route,
            function(data) {
            $.each(data, function (date, times) {
              form += "<p><i>" + date + "</i></p>";
              $.each(times, function (i, val) {
                form += "<input type='radio' class = 'radio-button' style = 'margin-right:10px' id=time" + i + " name ='time' value='" + date + "," + val + "'>";
                form += "<label for=time " + i + " style = 'font-weight:normal'>" + val + "</label><br>";
              })
              form += "<br>";
            })
            form += "<input type = 'hidden', name = 'resType', value = '" + resType + "'></form>"; //adding resourceType as a hidden input
            //alert(resType);
            $("#dateForm").empty(); 
            $("#dateForm").append(form); 
        });
        //alert(form)
        $("#dispName").empty(); 
        $("#dispName").append(resName); 
      });
    });
</script>

<script> 
function searchFunc() {
  // Declare variables
  var input, filter, table, tr, a, i, txtValue;
  input = document.getElementById('mySearchInput');
  filter = input.value.toUpperCase();
  table = document.getElementById("dispTable");
  tr = table.getElementsByTagName('tr');
  //console.log(tr);

  // Loop through all list items, and hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    a = tr[i].cells[1];
    //console.log(a);
    txtValue = a.textContent || a.innerText;
    //console.log(txtValue);
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
</script>
 
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Schedule</h4>
        </div>
        <div class="modal-body">
          <div class="form-group" id = "dispName">
            <label for="usr">Placeholder</label>
          </div>
          <!-- <b>Time slots available for Reservation:</b> -->
          <!-- <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div> -->
          <div class="dates-holder" id = "dateForm">
            <!-- <form action="/action_page.php">
              <p>Please select your gender:</p>
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="other" name="gender" value="other">
              <label for="other">Other</label>
            
              <br>  
            
              <p>Please select your age:</p>
              <input type="radio" id="age1" name="age" value="30">
              <label for="age1">0 - 30</label><br>
              <input type="radio" id="age2" name="age" value="60">
              <label for="age2">31 - 60</label><br>  
              <input type="radio" id="age3" name="age" value="100">
              <label for="age3">61 - 100</label><br><br>
              <input type="submit" value="Submit">
            </form> -->
        </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" form = reserveForm>
            Reserve
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
