{% extends 'layouts/main.html' %} {% block title %}Gym{% endblock %} {% block
content %}

<div class="page-header">
  <h1>Gym Information</h1>
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th>ResourceID</th>
      <th>ResourceName</th>
      <th>ResourceType</th>
      <th>Location</th>
    </tr>
    {% for row in data%}
    <tr>
      <td class = "resID">{{row['ResourceID']}}</td>
      <td class = "resName">{{row['ResourceName']}}</td>
      <td>{{row['ResourceType']}}</td>
      <td>{{row['Location']}}</td>
      <td><a href=# id ="bookResource"></a><button type="button" class='btn btn-primary book-resource' data-toggle="modal" data-target="#myModal">Book Now!</button></a></td>
    </tr>
    {% endfor %}
  </table>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type = text/javascript>
    $(document).ready(function() {
      $(".book-resource").on("click", function (){ 
        var resID = 
        $(this).parents("tr").find(".resID").text(); 
        var resName = 
        $(this).parents("tr").find(".resName").text(); 
        var dates = "";
        var route = "/background_process_test/"+ resID;
        $.getJSON(route,
            function(data) {
            $.each(data.dates, function (i, val) {
              dates += 
              "<div class='checkbox'><label><input type='checkbox' value=''/>" + val + "</label></div>";
            })
            //alert(dates);
            $("#dateVal").empty(); 
            $("#dateVal").append(dates); 
        });
        $("#dispName").empty(); 
        $("#dispName").append(resName); 
      });
    });
</script>
 
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Schedule</h4>
        </div>
        <div class="modal-body">
          <div class="form-group" id = "dispName">
            <label for="usr">Placeholder</label>
          </div>
          <b>Time slots available for Reservation:</b>
          <!-- <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div> -->
          <div class="dates-holder" id = "dateVal">
          <!-- <div class="checkbox">
            <label><input type="checkbox" value="" />Date 1</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" id="date3" checked disabled />Date 3</label>
          </div> -->
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
