{% extends 'layouts/main.html' %} {% block title %}Home{% endblock %} {% block
content %}
<div class="container">
  <div class="page-header jumbotron" style="max-width: fit-content; margin:auto;">
    <h1 style="text-align: center;">GymTracker</h1>
    <h2 style="text-align: center;">Your New Favourite Workout Partner</h2>
  </div>
  <div>
  <p class="lead" style=" font-size:18px; padding-left:250px; padding-right:250px; padding-top: 15px;text-align:center;">
    In collaboration with <b>Duke Recreation</b>, we are dedicated to helping achieve your fitness and recreational needs, while also keeping you safe and healthy. 
  </p>
  <p class="lead" style=" font-size:18px; padding-left:250px; padding-right:250px; padding-top: 0;text-align:center;">
  Use GymTracker to <b>find equipments, build schedules, and explore classes</b> with our simple and efficient platform. 
</p>
  </div>
<div class="row" style="display:flex; justify-content: center;">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="https://i.ibb.co/7rxDmX6/Cycling.gif" alt="Card image cap">
        <a href="/gym" class="btn btn-default" style="min-width:180px;">Find Equipments</a>
      </div> 
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="https://i.ibb.co/tZRbTss/Jumping-Jacks-2.gif" alt="Card image cap"/>        
        <a href="/Classes" class="btn btn-default" style="min-width: 180px;">Find Gym Classes</a>
      </div>
    </div>
  </div>
</div>
  </p>
  <div>{% endblock %}</div>
</div>
