{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block
content %}

<div class="page-header">
  <h2>About Page🤸🏋️🚴💙</h2>
</div>
<Fragment>
  <div style="font-size: 18px; color:black; font-weight: bold;"> 
  <p>Tired of waiting for the treadmill to free up? Want to ensure you get the workout your body deserves?</p>
  <p><i>(Drumroll...)</i></p>
  <p>Presenting GymTracker. A combined portal for Duke students to reserve gym equipment, view and enroll in fitness classes, 
    and manage their workout schedule! GymTracker allows you to view equipment and resources available by their location, reserve equipment in times 
    that work for you, find and enroll in exciting classes - and manage all of your bookings, just with a click!
  </p>
  <br/>
  <p>Version: 1.0.0</p>
</div> 
</Fragment>

{% endblock %}
