{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block
content %}

<h1>Profile</h1>
<img src="https://i.ibb.co/JQ8FJwc/Screen-Shot-2020-11-14-at-17-59-03.png" style="max-width: 100px; float:right; padding-bottom: 30px;"></img>
<p>{{userEmail}}</p>
<p>{{userDisplayName}}</p>
{% if isAdmin==True %}
<p style="color:red">Admin</p>
{% endif %}
<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>ResourceID</th>
    <th>ResourceName</th>
    <th>ResourceType</th>
    <th>Location</th>
  </tr>
  {% for row in data%}
  <tr>
    <td>{{row['ResourceID']}}</td>
    <td>{{row['ResourceName']}}</td>
    <td>{{row['ResourceType']}}</td>
    <td>{{row['Location']}}</td>
    <td>
      <a href="#" id="test"
        ><button class="btn btn-primary">Book Now!</button></a
      >
    </td>
  </tr>
  {% endfor %}
</table>
{{userInfo}} {% endblock %}
