{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block
  content %}
  
  <div class="page-header" style="text-align:center;">
    <h4 style="text-align:right;">Opening Hours:</h4>
    <h5 style="text-align:right;"> Mon-Fri 5:30AM-11PM <br> Sat-Sun 9AM-10PM</h5> 
    <h1>Wilson Recreation Center</h1>
  </div>
  <div class="row" style="display:flex; justify-content: center;">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://i.ibb.co/4ZxsrBC/35756582-treadmills-in-a-gym.jpg" alt="Card image cap">
          <a href="/wilsonEquipment" class="btn btn-info" style="min-width:12.5vw">Find Equipments</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://i.ibb.co/LPdPDnJ/Muscle-pump-2.jpg" alt="Card image cap"/>        
          <a href="/gym" class="btn btn-default" style="min-width:12.5vw">Find Gym Classes</a>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}

